<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Description</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        #home{
            margin-left: 400px;
        }
    </style>
</head>

<body>
    <a href="/dashboard" id="home">Home</a> |
    <a href="/logout">Logout</a>
    <h1>{{item.title}}</h1>
    <p>Users who added this product/item under their wish list:</p>
    <ul>
        {%for i in item.guests.all %}
        <li>{{i.first_name}}</li>
        {%endfor%}
    </ul>
</body>

</html>